body{
    font-family: sans-serif;
    color: yellow;
    background-color:#000;
    text-align: center;

}
div > p {
    display: none;
}
div:hover > p {
    display: inline-block;
}
div{
    display: inline-block;
    text-align:center;
    background-color: blueviolet;
    border: 2px solid yellow;
    height:200px;
    width:200px;
    font: bold normal 3em sans-serif;
}
div:hover{
    background-color:black;
}

a:active{
    color: aqua;
    transform: scale(0.5);
}
a{
    color: coral;
    background-color:black;
}
